/*.userInfo {
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
  }

  .btnWrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}*/
.searchFilterLine{
  display: flex;
  justify-content: flex-end; //space-between
  margin-top: 20px;
}
.filterComboBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  color: #858585;
}
.searching{
  text-align: right;
  border-bottom: solid 1px #858585;
}
.list{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  justify-content: space-between;
  margin-top: 20px;
}
.element{
  width: 95px;
  margin: 10px auto;
}
.moreSites{
  text-align: center;
}
.accordion{
  margin: 35px auto;
}
.content{
  padding: 10px;
  margin: 10px 0;
}
.recommend{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.factsUser > div{
  margin: 10px 0;
}
.factsUser{
  margin-top: 10px;
}
.adress{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sending{
  margin-top:  20px;
  text-align: center;
}